@use './../components/animations' as *;

.banner-section {
    .container {
        max-width: 60rem;

        .decoration-lines {
            top: -26%;
            left: -24%;
        }
    }
}

.banner-heading {
    .h2 {
        @include media-breakpoint-down(xl) {
            font-size: 2.25rem;
        }

        @include media-breakpoint-down(md) {
            font-size: 1rem;
        }
    }

}