body {
    background-color: $gray-100;
}

// CUSTOM BORDER
.custom-border {
    border: .0625rem solid $border-color;
}

// PRIMARY COLOR VARIANT
.bg-primary-95 {
    background-color: $primary-95;
}

.bg-primary-97 {
    background-color: $primary-97;
}

.bg-primary-90 {
    background-color: $primary-90;
}

.bg-primary-75 {
    background-color: $primary-75;
}

.bg-primary-70 {
    background-color: $primary-70;
}

.bg-primary-80 {
    background-color: $primary-80;
}

.bg-primary-99 {
    background-color: $primary-99;
}

// GREY TEXT VARIANT
.text-col-grey-10 {
    color: $grey-10;
}

.text-col-grey-20 {
    color: $grey-20;
}

.text-col-grey-35 {
    color: $grey-35;
}

.text-col-grey-40 {
    color: $grey-40;
}

.text-col-grey-60 {
    color: $grey-60;
}

.text-col-grey-70 {
    color: $grey-70;
}

.text-col-grey-30 {
    color: $grey-30;
}

// WHITE BG CLASSES
.custom-bg-white99 {
    background-color: $whitebg-99;
}

.custom-bg-white97 {
    background-color: $whitebg-97;
}


// RESPONSIVE CONTAINER

@include media-breakpoint-down(xl) {
    :root {
        --container-p-lg: 6.25rem;
        --container-p: 5rem;
    }
}

@include media-breakpoint-down(sm) {
    :root {
        --container-p-lg: 3.125rem;
        --container-p: 3.125rem;
    }
}

.container-pt {
    padding-top: var(--container-p);
}

.container-pb {
    padding-bottom: var(--container-p);
}

.container-ps {
    padding-left: var(--container-p);
}

.container-pe {
    padding-right: var(--container-p);
}

.container-pt-lg {
    padding-top: var(--container-p-lg);
}

.container-pb-lg {
    padding-bottom: var(--container-p-lg);
}

// OVERRIDING ICON-LINK GAP
.icon-link{
    gap: 1rem;
    @include media-breakpoint-down(xl) {
        gap: .8125rem;
    }

    @include media-breakpoint-down(sm) {
        gap: 0.625rem;
    }
}