


.custom-btn{
    padding: $custom-btn-padding-y $custom-btn-padding-x;
    background-color: $custom-btn-bg;
    color: $custom-btn-color;
    border-radius: .5rem;
    &:hover{
        background-color: $border-color;
        color: $dark;
    }
}
.custom-border{
    border: .0625rem solid $border-color;
}
.h-font-col{
    color: $heading-color;
}
.custom-bg-orange{
    background-color: #FFF4E5;
}
.custom-bg-white99{
    background-color: #FCFCFD;
}
.custom-bg-white97{
    background-color: $whitebg-97;
}
// CONTAINER

$container-p-lg: 9.375rem;
$container-p: 6.25rem;

.container-pt{
    padding-top: $container-p;
}
.container-pb{
    padding-bottom: $container-p;
}
.container-pt-lg{
    padding-top: $container-p-lg;
}
.container-pb-lg{
    padding-bottom: $container-p-lg;
}

// https://www.figma.com/design/NweIYKnQaekiKLSi6q5I6W/eDTech-E-Learning-Educational-Website?node-id=401-244&t=jgVIdLHC1u9Ktkxo-0