
body{
    background-color: $whitebg-99;
}

.custom-btn{
    padding: $custom-btn-padding-y $custom-btn-padding-x;
    background-color: $custom-btn-bg;
    color: $custom-btn-color;
    border-radius: .5rem;
    &:hover{
        background-color: $border-color;
        color: $dark;
    }
}
.custom-border{
    border: .0625rem solid $border-color;
}
.h-font-col{
    color: $heading-color;
}
.bg-primary-95{
    background-color: $primary-95;
}
.bg-primary-97{
    background-color: $primary-97;
}
.bg-primary-90{
    background-color: $primary-90;
}
.bg-primary-75{
    background-color: $primary-75;
}
.bg-primary-70{
    background-color: $primary-70;
}
.bg-primary-80{
    background-color: $primary-80;
}
.bg-primary-99{
    background-color: $primary-99;
}
.text-col-grey-10{
    color:$grey-10;
}
.text-col-grey-20{
    color:$grey-20;
}
.text-col-grey-35{
    color:$grey-35;
}
.text-col-grey-40{
    color:$grey-40;
}
.text-col-grey-60{
    color:$grey-60;
}
.text-col-grey-70{
    color:$grey-70;
}

.custom-bg-white99{
    background-color: $whitebg-99;
}
.custom-bg-white97{
    background-color: $whitebg-97;
}
// CONTAINER

$container-p-lg: 9.375rem;
$container-p: 6.25rem;

.container-pt{
    padding-top: $container-p;
}
.container-pb{
    padding-bottom: $container-p;
}
.container-pt-lg{
    padding-top: $container-p-lg;
}
.container-pb-lg{
    padding-bottom: $container-p-lg;
}
p{
    font-weight: 400;
}

// https://www.figma.com/design/NweIYKnQaekiKLSi6q5I6W/eDTech-E-Learning-Educational-Website?node-id=401-244&t=jgVIdLHC1u9Ktkxo-0