.our-pricing{
    &--content{
        @include media-breakpoint-up(xl){
            padding: 5rem !important;
        }
        .primary-border{
            border: .0625rem solid $primary-90;
        }
        .img-thumbnail{
            padding: .375rem;
        }
    }
    
}