$primary: #FF9500;
$secondary: #F1F1F3;
$heading-color: #262626;

// COLORS
$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;

// LINKS

$link-color:                              #262626;
$link-decoration:                         none;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;

// FONTS

$font-family-sans-serif: "Be Vietnam Pro",sans-serif;
$font-family-monospace: "Be Vietnam Pro",sans-serif;

$font-weight-base:            600;
$line-height-base:            1.625;


// HEADING

$headings-font-family:        "Be Vietnam Pro",sans-serif;
$headings-line-height:        1.5;

$font-size-base:              1rem;

$h1-font-size:                $font-size-base * 5;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 2.375;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

// SPACERS

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .75,
  2: $spacer * 1.125,
  3: $spacer * 1.5,
  4: $spacer * 1.875,
  5: $spacer * 3.125,
);

// CONTAINER

$custom-max-width: (
  sm: 358px,
  xl: 1280px,
  xxl: 1597px
);

// CUSTOM BUTTON

$custom-btn-padding-y: .875rem;
$custom-btn-padding-x: 2.125rem;
$custom-btn-bg: $primary;
$custom-btn-color: $white;

// NAVBAR HAMBURGER ICON
$navbar-light-toggler-icon-bg:      url("./../icons/bars.svg");